.nav-link.router-link-active {
  color: #04315b !important;
}

.nav-container {
  width: 100%;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.top-bar {
  background: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  margin-left: 7rem;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  color: #5f7a93;
  text-decoration: none;
}

.nav-link:hover {
  color: #04315b;
}

.contact-info-header {
  display: flex;
  gap: 24px;
}

.website,
.phone {
  color: #04315b;
  text-decoration: none;
  font-size: 14px;
}

.main-bar {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  max-height: 70px;
}

.logo img {
  height: 120px;
  margin-right: 95px;
  margin-left: -2rem;
}

.catalog-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #04315b;
  color: white;
  border: none;
  padding: 4px 16px;
  border-radius: 7px;
  cursor: pointer;
}
.search-container input:focus {
  outline: none;
}
.search-btn {
  background: #04315b;
  color: white;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.search-container {
  position: relative;
  flex: 1;
  display: flex;
  gap: 1px;
  margin-left: -10px;
  color: #04315b;
}
.search-container input {
  flex: 1;
  padding: 4px 20px;
  border: 1px solid #fff;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #04315b;
}
.search-container input::placeholder {
  color: #04315b;
}
.search-container .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  padding-left: 1.2rem;
}
.search-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.search-container li{
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;

}
.search-container li:hover {
  background-color: #f5f5f5;
}
.search-container li:last-child {
  border-bottom: none;
}
.nuxtlinkkk {
  width: 100%;
  text-decoration: none;
  color: #04315b;
}

.contact-btnn {
  background: #04315b;
  color: white;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #04315b;
  font-weight: bold;
  position: relative;
}

.cart-label {
  font-size: 12px;
  margin-top: 1px;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
}

.dropdown {
  position: relative;
}
.dropdown-menu {
  background: #e8e8e8;
  border: none;
  margin-left: -65.5rem;
  padding-left: 45rem;
}
.dropdown-menu.show {
  width: 999999%;
}
.catalog-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}
.menu-icon {
  font-size: 1.25rem;
}
.dropdown-wrapper {
  position: relative;
  z-index: 100;
}
.backdrop {
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
}
.dropdown {
  position: relative;
  z-index: 1001;
}
.navbar-custom {
  background-color: #f4f4f4;
  width: 100%;
}
.navbar-toggler {
  border: none;
  position: relative;
}
.close-icon {
  font-size: 1.5rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offcanvas {
  background-color: #f4f4f4;
  width: 100%;
  text-align: center;
  min-height: 370px;    
  background-image: url("/icons/mobile-background.svg");
  margin-top: 3rem;
}
.offcanvas-header {
  border-bottom: 1px solid #ddd;
  display: none;
}
.offcanvas-body {
  height: 400px;
  flex-grow: 2;
}
.toppp-bar {
  background-color: #f4f4f4;
  margin: 0 auto;
  width: 100%;
  z-index: 1095;
}
.fixed-top {
  z-index: 1090;
}
.offcanvas-body li {
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  border-bottom: 1px solid #ddd;
}
.offcanvas-body .phonee{
  border-bottom: none;
}
/* .navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6L24 24M6 24L24 6'/%3e%3c/svg%3e");
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
} */
@media screen and (min-width: 1400px) {
  .top-bar {
    max-width: 1250px;
    margin: 0;
    padding-left: 7rem;
  }
}
@media screen and (max-width: 1400px) {
  .top-bar {
    margin: 0;
    padding-left: 13rem;
  }
}
@media screen and (max-width: 910px) {
  header nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar-custom {
    display: none;
  }
  .offcanvas {
    display: none;
  }
  .search-mobile {
    display: none;
  }
  .toppp-bar {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .top-bar {
    display: none;
  }
  .main-bar {
    display: none;
  }
  .offcanvas-header {
    background: none;
  }
}
@media (max-width: 768px) {
  .nav-container {
    margin: 0 auto;
    padding: 0;
    box-shadow: none;
  }
  .mobile-version {
    width: 100%;
    margin: 0 auto;
  }

  .navbar-custom {
    background-color: #f4f4f4;
    width: 100%;
    /* display: none; */
  }

  .toppp-bar {
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 0 auto;
    max-height: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar-toggler {
    font-size: 15px;
    color: #04315b;
    margin-top: -2rem;
    margin-left: 0.5rem;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

  .logo img {
    height: 100px;
    margin-top: -2rem;
    margin-left: 0.5rem;
  }

  .cart {
    font-size: 30px;
    margin-top: -2rem;
  }

  .search-btn {
    margin-top: 0rem;
  }

  .search-bar {
    width: 100%;
    margin: 0 auto;
    margin-top: 4.4rem;
    max-height: 34px;
  }
}
@media (max-width: 992px) {
  /* $lg */
  .nav-container {
    width: 100%;
  }
  .top-bar {
    width: 100%;
    margin-left: 3rem;
    padding: 0;
  }
  .main-bar {
    width: 100%;
    gap: 15px;
  }
  .logo img {
    margin-right: 1rem;
  }
}
