.nav-link.router-link-active {
  color: #04315b !important;
}

.nav-container {
  width: 100%;
  background: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-bottom: 1.5rem;
}

.top-bar {
  background: transparent;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  margin-left: 280px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-link {
  color: #5f7a93;
  text-decoration: none;
}

.nav-link:hover {
  color: #04315b;
}

.contact-info-header {
  display: flex;
  gap: 24px;
}

.website,
.phone {
  color: #04315b;
  text-decoration: none;
  font-size: 14px;
}

.main-bar {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  max-height: 70px;
}

.logo img {
  height: 100px;
  margin-right: 150px;
}

.catalog-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #04315b;
  color: white;
  border: none;
  padding: 4px 16px;
  border-radius: 7px;
  cursor: pointer;
}

.search-bar {
  flex: 1;
  display: flex;
  gap: 1px;
}

.search-bar input {
  flex: 1;
  padding: 4px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.search-btn {
  background: #04315b;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 35px;
  height: 35px;
}

.contact-btnn {
  background: #04315b;
  color: white;
  border: none;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #04315b;
  font-weight: bold;
  position: relative;
}

.cart-label {
  font-size: 12px;
  margin-top: 1px;
}

.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, -50%);
}

@media (max-width: 768px) {
  .top-bar {
    display: none;
  }

  .main-bar {
    flex-wrap: wrap;
    gap: 16px;
  }

  .search-bar {
    order: 3;
    width: 100%;
  }
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  background: #e8e8e8;
  border: none;
}

.catalog-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.menu-icon {
  font-size: 1.25rem;
}
