.catalog-carddd {
  background: #f4f4f4;
  border-radius: 10px;
  color: #04315b;
  align-items: center;
  min-width: 1110px;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
}

.catalog-title {
  font-size: 40px;
  color: #04315b;
  margin-bottom: 2rem;
  font-weight: bold;
  transform: scaleY(1.7);
  margin-left: -0.7rem;
  padding-top: 25px;
  margin-bottom: 40px;
}

.catalog-dropdown-content {
  display: flex;
  background: transparent;
  border-radius: 0.5rem;
  min-width: 1400px;
  padding-top: 10px;
  margin-left: -2.7rem;
  margin-bottom: 5rem;
}

.catalog-dropdown-content h2 {
  position: relative;
  margin-left: 40px;
  margin-bottom: 20px;
  color: #04315b;
  font-weight: 700;
  margin-top: 25px;
}

.catalog-sidebar {
  width: 300px;
  height: 100px;
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  padding-left: 25px;
}

/* SIDEBAR START */

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
  background-color: #f4f4f4;
  margin: 10px;
  border: 1px solid #e0e0e0;
  font-weight: 700;
  color: #04315b;
  padding-left: 2.2rem;
}

.sidebar-item:hover:not(.active) {
  background: #0062ac41;
}

.sidebar-item.active {
  background: #04315b;
  color: white;
}

.sidebar-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.header-icon {
  width: 32px;
  height: 32px;
  margin-right: 0.75rem;
}

.dropdown-menu.show {
  display: block;
}

.button-sidebar {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #04315b;
  text-decoration: none;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 5rem;
  border: #04315b 1px solid;
}

.button-sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0062ac41;
  transition: width 0.3s ease-in-out;
}

.button-sidebar:hover::before {
  width: 100%;
}

.button-sidebar span {
  position: relative;
  z-index: 1;
}

/* SIDEBAR END */

/* MANAFACTURERS START */

.manufacturers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 22px;
  justify-content: space-between;
  align-items: center;
  min-width: 900px;
  max-width: 970px;
  margin-left: -40px;
}

.manufacturers-grid button {
  position: relative;
  padding: 10px 15px;
  font-size: 16px;
  color: #04315b;
  background: transparent;
  border: #04315b 1px solid;
  border-radius: 3px;
  text-decoration: none;
  clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  width: 265px;
  transition: background-color 0.2s;
  letter-spacing: 1.1px;
  margin-left: 370px;
  margin-top: 5rem;
}

.manufacturers-grid button:hover {
  background-color: rgba(0, 43, 91, 0.05);
}

.manafactures-border-button {
  background: #e8e8e8;
  border-top: 1px solid #04315b;
  position: absolute;
  top: -28px;
  left: -12.5px;
  width: 39px;
  z-index: 10;
  height: 40px;
  transform: rotate(150deg);
  font-size: 16px;
}

.manufacturer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.manufacturer-logo {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.manufacturer-title {
  margin-top: 8px;
  color: #04315b;
  font-family: "Bebas Neue Pro";
}

.manufacturer-title:hover {
  text-decoration: underline;
}

.manufacturer-logo {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease;
}

.manufacturer-logo:hover {
  filter: grayscale(0%);
  opacity: 1;
}

/* MANAFACTURERS END */

/* BRANDS START */

.brands-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 2fr));
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  max-width: 1000px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.brands-grid button {
  position: relative;
  padding: 10px 10px;
  font-size: 16px;
  color: #04315b;
  background: transparent;
  border: #04315b 1px solid;
  border-radius: 3px;
  text-decoration: none;
  clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  margin-left: 300px;
  margin-top: 5rem;
  width: 250px;
  transition: background-color 0.2s;
  letter-spacing: 1.1px;
}

.brands-grid button:hover {
  background-color: rgba(0, 43, 91, 0.05);
}

.brands-border-button {
  background: #e8e8e8;
  border-top: 1px solid #04315b;
  position: absolute;
  top: -28px;
  left: -13px;
  width: 40px;
  z-index: 10;
  height: 40px;
  transform: rotate(150deg);
  font-size: 16px;
}

.brand-title {
  margin-top: 20px;
  color: #04315b;
  font-family: "Bebas Neue Pro";
}

.brand-title:hover {
  text-decoration: underline;
}

/* BRANDS END */

/* EQUIPMENTS START */

.equipment-types-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 850px;
  margin-left: 25px;
  position: relative;
}

.equipment-type-card {
  background: #f4f4f4;
  border-radius: 8px;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 130px;
  border: 1px solid #04315b7a;
}

.equipment-type-card:hover {
  transform: translateY(-2px);
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: relative;
}

.card-content h3 {
  color: #04315b;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px 0;
  text-align: left;
}

.equipment-image {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.equipment-types-grid button {
  grid-column: 4;
  justify-self: end;
  padding: 10px 0;
  color: #04315b;
  background: transparent;
  border: 1px solid #04315b;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  position: absolute;
  bottom: -4rem;
  margin-right: 310px;
  width: 237px;
  clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  letter-spacing: 1.1px;
  margin-bottom: 2rem;
}

.equipment-types-grid button:hover {
  background-color: rgba(0, 43, 91, 0.05);
}

.equipment-type-card:nth-last-child(2):hover h3,
.equipment-type-card:nth-last-child(3):hover h3,
.equipment-type-card:nth-last-child(4):hover h3 {
  color: white;
}
.equipment-type-card:nth-last-child(2):hover,
.equipment-type-card:nth-last-child(3):hover,
.equipment-type-card:nth-last-child(4):hover {
  background-color: #04315b;
}

.equipments-border-button {
  background: #e8e8e8;
  border-top: 1px solid #04315b;
  position: absolute;
  top: -29px;
  left: -13px;
  width: 44px;
  z-index: 10;
  height: 40px;
  transform: rotate(150deg);
  font-size: 16px;
}

.equipment-type-card:nth-last-child(3),
.equipment-type-card:nth-last-child(2),
.equipment-type-card:nth-last-child(1) {
  grid-column: span 3;
}

@media (min-width: 578px) {
  .equipment-types-grid {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
  }

  .equipment-type-card:nth-last-child(3) {
    position: absolute;
    grid-column: 2 / 3;
    min-width: 255px;
    bottom: -45px;
    left: 68.5px;
  }

  .equipment-type-card:nth-last-child(2) {
    grid-column: 4 / 5;
    min-width: 260px;
    position: absolute;
    bottom: -65px;
    right: 0;
  }

  .equipment-type-card:nth-last-child(4) {
    grid-column: 1 / 7;
    min-width: 255px;
    position: absolute;
    bottom: -45px;
    left: 0;
  }
}

.equipment-type-card:nth-last-child(3) h3 {
  padding-left: 63px;
  padding-top: 8px;
}

.equipment-type-card:nth-last-child(4) h3 {
  padding-left: 25px;
  padding-top: 8px;
}

.equipment-type-card:nth-last-child(2) h3 {
  padding-left: 0;
  padding-top: 8px;
  font-size: 16px;
  text-align: center;
}

.equipment-type-card:nth-last-child(5) img {
  /* position: absolute; */
  width: 120%;
  margin-bottom: -1rem;
  margin-left: -0.2rem;
} /* generator  */

.equipment-type-card:nth-last-child(6) img {
  position: absolute;
  margin-top: -0.5rem;
  margin-left: -1rem;
  width: 200px;
  height: 200px;
} /* ekskavator  */

.equipment-type-card:nth-last-child(7) img {
  position: absolute;
  margin-top: -0.5rem;
  margin-left: -1rem;
  width: 200px;
  height: 200px;
} /* pogruzchik  */

.equipment-type-card:nth-last-child(8) img {
  position: absolute;
  margin-top: -1.9rem;
  margin-left: -3rem;
  width: 280px;
  height: 280px;
} /* buldozer  */

/* EQUIPMENTS END */

/* FILTER CATEGORIES START */

.catalog-main-content {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr;
  gap: 8px;
  padding-bottom: 40px;
  padding-left: 40px;
  position: relative;
}

.filter-category {
  border: 1px solid #658099;
  padding: 30px;
  border-radius: 8px;
  background-color: #f4f4f4;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.85rem;
  color: #04315b;
  position: relative;
}

.filter-category:hover {
  background-color: #04315b;
  color: #fff;
}

.filter-category:hover h5,
.filter-category:hover .subcategories,
.filter-category:hover .item-count {
  color: #fff;
}

.filter-category h5 {
  color: #04315b;
}

.item-count {
  font-size: 0.8rem;
  color: #04315b;
  font-weight: 100;
}

.subcategories {
  list-style: none;
  font-size: 0.8rem;
  color: #04315b;
  font-weight: 100;
}

.filter-category:nth-child(1) ul {
  position: absolute;
  top: 100px;
  left: 67px;
  line-height: 35px;
}

.filter-category:nth-child(8) ul {
  position: absolute;
  top: 100px;
  left: 44px;
}

.filter-category:nth-child(7) ul {
  max-height: 100px;
}

.filter-category:nth-child(8) {
  display: block;
  position: absolute;
  height: 200px;
  width: 260px;
  top: 0;
  left: 0;
}

.catalog-main-content > .filter-category:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.catalog-main-content > .filter-category:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.catalog-main-content > .filter-category:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.catalog-main-content > .filter-category:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.catalog-main-content > .filter-category:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.catalog-main-content > .filter-category:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.catalog-main-content > .filter-category:nth-child(7) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
.catalog-main-content > .filter-category:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.catalog-main-content > .filter-category:nth-child(9) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.catalog-button {
  display: flex;
  align-items: center;
  background-color: #04315b;
  color: #f4f4f4;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.icon {
  margin-right: 8px;
  font-size: 20px;
}

.subcategories li:hover {
  text-decoration: underline;
}
/* FILTER CATEGORIES END */

@media (max-width: 1200px) {
  .catalog-dropdown-content {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    margin-left: -3rem;
  }
  .sidebar-item {
    width: 100%;
    margin-top: 0.5rem;
  }
  .catalog-carddd {
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
  .catalog-carddd p {
    font-size: 14px;
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;
  }
  .manufacturers-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 0.58fr));
    gap: 20px;
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 0;
  }
  .manufacturer-item {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: inherit;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 0;
  }
  .manufacturers-grid button {
    margin: 0 auto;
    margin-left: 12rem;
  }
  .manufacturer-title {
    font-size: 20px;
  }
  .brands-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 0.45fr));
    gap: 20px;
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 0;
  }
  .brand-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .brand-title {
    font-size: 20px;
  }
  .brands-grid button {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 12rem;
  }
  .catalog-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    margin-left: 2.5rem;
  }
  .catalog-main-content > .filter-category:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }
  .catalog-main-content > .filter-category:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(5) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    height: 130px;
    margin-top: 4.3rem;
  }
  .catalog-main-content > .filter-category:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(7) {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(8) {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    height: 130px;
    width: 100%;
  }
  .catalog-main-content > .filter-category:nth-child(9) {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    height: 150px;
  }
  .filter-category:nth-child(1) ul {
    top: auto;
  }
  .filter-category:nth-child(8) ul {
    top: auto;
  }
  .equipment-types-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    grid-template-rows: 1fr 1fr 0.3fr 0.3fr 0.3fr;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 0rem;
    margin-left: 1.5rem;
  }
  .equipment-type-card {
    width: 100%;
    height: 180px;
  }
  .equipment-image {
    width: 100%;
    right: 0;
  }
  .equipment-type-card:nth-last-child(1) {
    grid-column: 1 / 2;
    grid-row: 1/5;
  }
  .equipment-type-card:nth-last-child(2) {
    grid-column: 1 / 4;
    grid-row: 5/5;
    margin-top: -8rem;
  }
  .equipment-type-card:nth-last-child(3) {
    grid-column: 1 / 4;
    grid-row: 4/5;
    margin-top: -2rem;
  }
  .equipment-type-card:nth-last-child(4) {
    grid-column: 1 / 4;
    grid-row: 3/5;
  }
  .equipment-type-card:nth-last-child(5) {
    grid-column: 1 / 2;
    grid-row: 2/5;
  }
  .equipment-type-card:nth-last-child(6) {
    grid-column: 2 / 2;
    grid-row: 1/5;
  }
  .equipment-type-card:nth-last-child(7) {
    grid-column: 2 / 2;
    grid-row: 2/5;
  }
  .equipment-type-card:nth-last-child(8) {
    grid-column: 1 / 2;
    grid-row: 1/5;
  }
  .equipment-type-card:nth-last-child(5) img {
    margin-top: -0.5rem;
    margin-left: 7rem;
    width: 70%;
    height: 70%;
  } /* generator  */

  .equipment-type-card:nth-last-child(6) img {
    margin-top: -0.3rem;
    margin-right: 1rem;
    width: 70%;
  } /* ekskavator  */

  .equipment-type-card:nth-last-child(7) img {
    margin-top: -1.5rem;
    margin-right: -2rem;
    width: 100%;
  } /* pogruzchik  */

  .equipment-type-card:nth-last-child(8) img {
    margin-top: -2.5rem;
    margin-right: -4rem;
    width: 110%;
  } /* buldozer  */
  .equipment-type-card:nth-last-child(2) {
    position: inherit;
    bottom: 0;
    height: 50px;
    width: 630px;
  }
  .equipment-type-card:nth-last-child(3) {
    position: inherit;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 630px;
  }
  .equipment-type-card:nth-last-child(4) {
    position: inherit;
    bottom: 0;
    height: 50px;
    width: 630px;
    margin-top: 0.3rem;
  }
  .equipment-type-card:nth-last-child(2) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .equipment-type-card:nth-last-child(3) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .equipment-type-card:nth-last-child(4) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .equipment-title {
    font-size: 22px;
  }
  .equipment-types-grid button {
    bottom: 4rem;
    margin: 0 auto;
    z-index: 10000;
    right: 13rem;
  }
}

@media (max-width: 992px) {
  .catalog-dropdown-content {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    margin-left: -3rem;
  }
  .catalog-dropdown-content h2{
    margin-left: 0;
  }
  .catalog-sidebar {
    width: 100%;
  }
  .sidebar-item {
    width: 100%;
    margin-top: 0.5rem;
  }
  .manufacturers-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 0.5fr));
    gap: 20px;
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 0;
  }
  .manufacturer-item {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: inherit;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 0;
  }
  .manufacturers-grid button {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 4rem
  }
  .manufacturer-title {
    font-size: 20px;
  }
  .brands-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 0.4fr));
    gap: 20px;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .brand-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .brand-title {
    font-size: 20px;
  }
  .brands-grid button {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
  }
  .catalog-main-content {
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-template-rows: repeat(5, 0.5fr);
    gap: 1rem;
    width: 90%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    margin-left: 0rem;
  }
  .catalog-main-content > .filter-category:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    width: 244.63px;
  }
  .catalog-main-content > .filter-category:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    height: 130px;
    width: 244.63px;
  }
  .catalog-main-content > .filter-category:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    height: 130px;
    width: 244.63px;
  }
  .catalog-main-content > .filter-category:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
    height: 130px;
    width: 244.63px;
  }
  .catalog-main-content > .filter-category:nth-child(5) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    height: 130px;
    margin-top: 4.3rem;
    width: 230px;
  }
  .catalog-main-content > .filter-category:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    height: 130px;
    width: 230px;
  }
  .catalog-main-content > .filter-category:nth-child(7) {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    height: 130px;
    width: 230px;
  }
  .catalog-main-content > .filter-category:nth-child(8) {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    height: 130px;
    width: 100%;
    width: 230px;
  }
  .catalog-main-content > .filter-category:nth-child(9) {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
    height: 150px;
    width: 230px;
  }
  .filter-category:nth-child(1) ul {
    top: auto;
  }
  .filter-category:nth-child(8) ul {
    top: auto;
  }
  .filter-category:nth-child(1) .title-with-text {
    margin-left: 0.5rem !important;
  }
  .filter-category:nth-child(1) .subcategories {
    margin-left: -0.5rem !important;
  }
  .equipment-types-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    grid-template-rows: 1fr 1fr 0.3fr 0.3fr 0.3fr;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 0rem;
    padding: 0;
  }
  .equipment-type-card {
    width: 100%;
    height: 180px;
  }
  .equipment-image {
    width: 100%;
    right: 0;
  }
  .equipment-type-card:nth-last-child(1) {
    grid-column: 1 / 2;
    grid-row: 1/5;
    width: 220px;
  }
  .equipment-type-card:nth-last-child(2) {
    grid-column: 1 / 4;
    grid-row: 5/5;
    margin-top: -8rem;
  }
  .equipment-type-card:nth-last-child(3) {
    grid-column: 1 / 4;
    grid-row: 4/5;
    margin-top: -2rem;
  }
  .equipment-type-card:nth-last-child(4) {
    grid-column: 1 / 4;
    grid-row: 3/5;
  }
  .equipment-type-card:nth-last-child(5) {
    grid-column: 1 / 2;
    grid-row: 2/5;
    width: 220px;
  }
  .equipment-type-card:nth-last-child(6) {
    grid-column: 2 / 2;
    grid-row: 1/5;
    width: 220px;
  }
  .equipment-type-card:nth-last-child(7) {
    grid-column: 2 / 2;
    grid-row: 2/5;
    width: 220px;
  }
  .equipment-type-card:nth-last-child(8) {
    grid-column: 1 / 2;
    grid-row: 1/5;
    width: 220px;
  }
  .equipment-type-card:nth-last-child(5) img {
    margin-top: 1rem;
    margin-left: 4.5rem;
    width: 80%;
    height: 80%;
  } /* generator  */

  .equipment-type-card:nth-last-child(6) img {
    margin-top: 0rem;
    margin-right: 0rem;
    width: 80%;
  } /* ekskavator  */

  .equipment-type-card:nth-last-child(7) img {
    margin-top: 0rem;
    margin-right: 0rem;
    width: 90%;
  } /* pogruzchik  */

  .equipment-type-card:nth-last-child(8) img {
    margin-top: -0.5rem;
    margin-right: -3rem;
    width: 110%;
  } /* buldozer  */
  .equipment-type-card:nth-last-child(2) {
    position: inherit;
    bottom: 0;
    height: 50px;
    width: 457px;
  }
  .equipment-type-card:nth-last-child(3) {
    position: inherit;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 457px;
  }
  .equipment-type-card:nth-last-child(4) {
    position: inherit;
    bottom: 0;
    height: 50px;
    width: 457px;
    margin-top: 0.3rem;
  }
  .equipment-type-card:nth-last-child(2) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .equipment-type-card:nth-last-child(3) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .equipment-type-card:nth-last-child(4) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .equipment-title {
    font-size: 22px;
  }
  .equipment-types-grid button {
    bottom: 4rem;
    margin: 0 auto;
    z-index: 10000;
    right: 7rem;
  }
}

@media (max-width: 768px) {
  .catalog-title {
    font-size: 24px;
    margin-left: 0.5px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  .catalog-dropdown-content h2 {
    margin-left: 0.2rem;
  }
  .catalog-dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
  .the_line {
    display: none;
  }
  .catalog-sidebar {
    width: 100%;
    padding: 0;
  }
  .sidebar-item {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  .catalog-content-wrapper {
    margin-top: 10rem;
  }
  .category_title {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .catalog-filter-categories {
    display: flex;
    width: 100%;
  }
  .catalog-main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .catalog-main-content > .filter-category:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    width: 250px;
  }
  .catalog-main-content > .filter-category:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 4 / 4;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(5) {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    height: 130px;
    margin-top: 4.3rem;
  }
  .catalog-main-content > .filter-category:nth-child(4) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(7) {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(8) {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    height: 130px;
  }
  .catalog-main-content > .filter-category:nth-child(9) {
    grid-column: 2 / 2;
    grid-row: 5 / 5;

    height: 150px;
  }
  .catalog-filter-categories {
    margin-bottom: 3rem;
  }
  .filter-category {
    width: 100%;
    padding: 1.5rem;
  }
  .filter-category:nth-child(8) {
    display: flex;
    position: inherit;
    width: 100%;
    height: 150px;
  }
  .filter-category:nth-child(1) {
    height: 200px;
  }
  .filter-category:nth-child(2) .category-header {
    margin-left: 0.5rem;
  }
  .filter-category:nth-child(2) .title-with-text {
    padding-left: 0.8rem;
  }
  .filter-category:nth-child(4) .category-header {
    margin-left: 0.3rem;
  }
  .filter-category:nth-child(5) .title-with-text {
    padding-right: 3.8rem;
    margin-left: 0;
  }
  .subcategories {
    margin-top: -1rem;
  }
  .bottomm {
    margin: 0 auto;
    width: 100%;
    margin-top: 0 !important;
  }
  .catalog-carddd {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-height: 53px;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
  .catalog-carddd p {
    font-size: 14px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: -1rem !important;
    text-align: left;
    padding-bottom: 1rem;
  }
  .catalog-carddd .first-second {
    margin-left: -3rem;
  }
  .catalog-carddd .second-first {
    margin-left: -10rem;
  }
  .manufacturers-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 0.5fr));
    gap: 20px;
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 0;
  }
  .manufacturer-item {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: inherit;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 0;
  }
  .manufacturers-grid button {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 8rem;
  }
  .manufacturer-title {
    font-size: 20px;
  }
  .brands-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 0.5fr));
    gap: 20px;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .brand-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .brand-title {
    font-size: 20px;
  }
  .brands-grid button {
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 8rem;
  }
  .equipment-types-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 0.3fr 0.3fr 0.3fr;
    gap: 1rem;
    margin: 0 auto;
    margin-bottom: 0rem;
  }
  .equipment-type-card {
    width: 100%;
    height: 180px;
  }

  .equipment-image {
    width: 100%;
    right: 0;
  }
  .equipment-type-card:nth-last-child(1) {
    grid-column: 1 / 2;
    grid-row: 1/5;
  }
  .equipment-type-card:nth-last-child(2) {
    grid-column: 1 / 4;
    grid-row: 5/5;
    margin-top: -8rem;
  }
  .equipment-type-card:nth-last-child(3) {
    grid-column: 1 / 4;
    grid-row: 4/5;
    margin-top: -2rem;
  }
  .equipment-type-card:nth-last-child(4) {
    grid-column: 1 / 4;
    grid-row: 3/5;
  }
  .equipment-type-card:nth-last-child(5) {
    grid-column: 1 / 2;
    grid-row: 2/5;
  }
  .equipment-type-card:nth-last-child(6) {
    grid-column: 2 / 2;
    grid-row: 1/5;
  }
  .equipment-type-card:nth-last-child(7) {
    grid-column: 2 / 2;
    grid-row: 2/5;
  }
  .equipment-type-card:nth-last-child(8) {
    grid-column: 1 / 2;
    grid-row: 1/5;
  }
  .equipment-type-card:nth-last-child(5) img {
    margin-top: 0rem;
    margin-left: 3rem;
    width: 85%;
    height: 85%;
  } /* generator  */

  .equipment-type-card:nth-last-child(6) img {
    margin-top: -0.3rem;
    margin-right: 1rem;
    width: 85%;
  } /* ekskavator  */

  .equipment-type-card:nth-last-child(7) img {
    margin-top: -1rem;
    margin-right: 0rem;
    width: 100%;
  } /* pogruzchik  */

  .equipment-type-card:nth-last-child(8) img {
    margin-top: -2rem;
    margin-right: -2.5rem;
    width: 115%;
  } /* buldozer  */
  .equipment-type-card:nth-last-child(2) {
    position: inherit;
    bottom: 0;
    height: 50px;
  }
  .equipment-type-card:nth-last-child(3) {
    position: inherit;
    bottom: 0;
    left: 0;
    height: 50px;
    /* width: 500px; */
  }
  .equipment-type-card:nth-last-child(4) {
    position: inherit;
    bottom: 0;
    height: 50px;
  }
  .equipment-type-card:nth-last-child(2) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .equipment-type-card:nth-last-child(3) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .equipment-type-card:nth-last-child(4) h3 {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .equipment-title {
    font-size: 22px;
  }
  .equipment-types-grid button {
    bottom: 4rem;
    margin: 0 auto;
    z-index: 10000;
    right: 8rem;
  }
  .mt-4 {
    display: none;
  }
}

@media (max-width: 480px) {
  .catalog-title {
    font-size: 24px;
    margin-left: 0.5px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  .catalog-dropdown-content h2 {
    margin-left: 0.2rem;
  }
  .catalog-dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
  }
  .the_line {
    display: none;
  }
  .catalog-sidebar {
    width: 100%;
    padding: 0;
  }
  .sidebar-item {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  .catalog-content-wrapper {
    margin-top: 10rem;
  }
  .category_title {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .catalog-main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-bottom: 0rem;
  }
  .catalog-filter-categories {
    margin-bottom: 3rem;
  }
  .filter-category {
    width: 100% !important;
    padding: 1.5rem;
  }
  .filter-category:nth-child(1) ul {
    position: absolute;
    top: 100px;
    left: 67px;
    line-height: 35px;
  }
  .filter-category:nth-child(8) ul {
    position: absolute;
    top: 100px;
    left: 44px;
    margin-left: -0.3rem;
  }
  .filter-category:nth-child(8) {
    display: flex;
    position: inherit;
    width: 100%;
    height: 150px;
  }
  .filter-category:nth-child(1) {
    height: 200px;
  }
  .filter-category:nth-child(5) {
    margin-top: 0 !important;
  }
  .filter-category:nth-child(2) .category-header {
    margin-left: 0.5rem;
  }
  .filter-category:nth-child(2) .title-with-text {
    padding-left: 0.8rem;
  }
  .filter-category:nth-child(4) .category-header {
    margin-left: 0.3rem;
  }
  .filter-category:nth-child(5) .title-with-text {
    padding-right: 3.8rem;
    margin-left: 0;
  }
  .subcategories {
    margin-top: -1rem;
  }
  .bottomm {
    margin: 0 auto;
    width: 100%;
    margin-top: 0 !important;
  }
  .catalog-carddd {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    max-height: 53px;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }
  .catalog-carddd p {
    font-size: 14px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: -1rem !important;
    text-align: left;
    padding-bottom: 1rem;
  }
  .catalog-carddd .first-second {
    margin-left: -3rem;
  }
  .catalog-carddd .second-first {
    margin-left: -10rem;
  }
  .manufacturers-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 0.5fr));
    gap: 20px;
    margin: 0 auto;
    min-width: 100%;
    margin-bottom: 0;
  }
  .manufacturer-item {
    width: 100%;
    flex-direction: inherit;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 0;
  }
  .manufacturers-grid button {
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 1.6rem;
  }
  .manufacturer-title {
    font-size: 20px;
  }
  .brands-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 0.5fr));
    gap: 20px 0;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .brand-title {
    font-size: 20px;
  }
  .brands-grid button {
    margin: 0 auto;
    margin-left: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .equipment-types-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .equipment-type-card {
    width: 111% !important;
    height: 180px;
    margin: 0 auto;
    margin-left: -1.2rem;
  }
  .equipment-type-card:nth-last-child(2),
  .equipment-type-card:nth-last-child(3),
  .equipment-type-card:nth-last-child(4) {
    height: 65px;
  }
  .equipment-type-card:nth-last-child(2) {
    margin-top: 0rem;
  }
  .equipment-type-card:nth-last-child(3) {
    margin-top: 0rem;
  }
  .equipment-type-card:nth-last-child(4) {
    margin-top: 0rem;
  }
  .equipment-type-card:nth-last-child(4) h3,
  .equipment-type-card:nth-last-child(3) h3 {
    display: flex;
    justify-content: center;
  }
  .equipment-image {
    width: 100%;
    right: 0;
  }
  .equipment-type-card:nth-last-child(5) img {
    margin-top: -2.5rem;
    margin-left: 8rem;
    width: 65%;
    height: 65%;
  } /* generator  */

  .equipment-type-card:nth-last-child(6) img {
    margin-top: -1rem;
    margin-right: 1.5rem;
    width: 60%;
  } /* ekskavator  */

  .equipment-type-card:nth-last-child(7) img {
    margin-top: -2rem;
    margin-right: -2.7rem;
    width: 100%;
  } /* pogruzchik  */

  .equipment-type-card:nth-last-child(8) img {
    margin-top: -2.8rem;
    margin-right: -3.5rem;
    width: 100%;
  } /* buldozer  */
  .equipment-title {
    font-size: 22px;
  }
  .equipment-types-grid button {
    bottom: -6rem;
    width: 99.5%;
    left: 0rem;
    margin-bottom: 3rem;
  }
  .mt-4 {
    display: none;
  }
}
