.contact-page {
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: -1.5rem;
}

.contact-title {
  font-size: 60px;
  color: #04315b;
  margin-bottom: 2rem;
  font-weight: bold;
  transform: scaleY(1.3);
}

.contact-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background: #04315b;
  border-radius: 12px;
  padding: 5rem;
  padding-bottom: 3rem;
  color: white;
  margin-bottom: 2rem;
  clip-path: url(#customClip);
}
.contact-info,
.contact-form {
  flex: 1px;
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.contact-info {
  margin-right: 50px;
}

.contact-info h2 {
  margin-bottom: 1.5rem;
}

.contact-form {
  margin-left: 50px;
}
.form-group {
  font-family: "Clash Display Variable", sans-serif;
}
.form-input:focus,
.form-textarea:focus {
  background: rgba(255, 255, 255, 0.3);
}

.contact-info h2,
.contact-form h2 {
  font-size: 26px;
  font-weight: 700;
  transform: scaleY(1.3);
}

.info-text {
  font-size: 15px;
  font-weight: 00;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-item .content {
  line-height: 0.8;
}

.info-item .content h4 {
  font-size: 18px;
  font-family: "Clash Display Variables", sans-serif;
}

.info-item .content p {
  font-size: 16px;
  font-weight: 200;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: -0.7rem;
}
.social-networks h3 {
  font-family: "Clash Display Variables", sans-serif;
}

.contact-form h2 {
  margin-bottom: 40px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: rgba(245, 244, 244, 0.1);
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
  font-family: "Clash Display Variables", sans-serif;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: white;
  font-weight: 300;
  letter-spacing: 1.1px;
  font-family: "Clash Display Variables", sans-serif;

}

.contact-card {
  background: rgba(320, 320, 320, 0.06);
  padding: 25px;
  border-radius: 8px;
  position: relative;
  padding-bottom: 60px;
}

.otpravit-btn {
  background: #b4232b;
  color: white;
  padding: 0.75rem 4.5rem;
  border: none;
  border-radius: 6px;
  position: absolute;
  bottom: 15px;
  right: 25px;
  margin-bottom: 5px;
  clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25px);
  letter-spacing: 1.2px;
  font-weight: 600;
  font-family: "Bebas Neue Pro", sans-serif;
}

.otpravit-btn:hover {
  background: #d2000c;
}

.map {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-page {
    padding: 1rem;
  }

  .contact-title {
    font-size: 2rem;
  }

  .map {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .contact-page {
    width: 100%;
  }
  .contact-title {
    font-size: 24px;
    margin-top: 2rem;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    clip-path: none;
    padding: 1rem;
    padding-top: 2rem;
  }
  .contact-info {
    width: 100%;
    max-width: 100%;
  }
  .contact-form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .contact-card {
    width: 100%;
    padding: 0.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .otpravit-btn {
    width: 100%;
    position: inherit;
    margin: 0 auto;
  }
  .map {
    width: 100% !important;
  }
}

@media (max-width: 768px) { /* $md */
  .title {
    font-size: 26px;
    line-height: 36px;
  }
}

@media (max-width: 992px) { /* $lg */
  .title {
    font-size: 32px;
    line-height: 42px;
  }
  .otpravit-btn {
    width: 100%;
    position: relative;
    right: 0;
  }
}

@media (max-width: 1200px) { /* $xl */
  .title {
    font-size: 36px;
    line-height: 46px;
  }
}

@media (max-width: 1400px) { /* $xxl */
  .title {
    font-size: 38px;
    line-height: 48px;
  }
}