.bebas-neue-regular {
  font-family: "Bebas Neue Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: #e8e8e8;
  background-image: url("/icons/background.svg");
}

main {
  background: #e8e8e8;
  background-image: url("/icons/background.svg");
}

.home-page {
  background: transparent;
}

.hero {
  background-color: transparent;
  padding: 40px 10px;
  min-height: 450px;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-content {
  flex: 1;
  position: relative;
}

.hero-title {
  font-size: 87px;
  font-weight: 700;
  color: #04315b;
  line-height: 0.8;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  transform: scaleY(1.4);
  min-width: 1300px;
  margin-left: -1.9rem;
  font-family: "Bebas Neue Pro", sans-serif;
}
.smalltext {
  font-size: 65px;
  margin-bottom: 30px;
}
.text-accent {
  color: #b4232b;
}
.hero-text {
  font-size: 16px;
  line-height: 1.5;
  color: #04315b;
  margin-top: 80px;
  max-width: 550px;
  position: relative;
  margin-left: -1.9rem;
  font-family: "Clash Display Variables", sans-serif;
}
.catalog-note {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 280px;
  margin-bottom: 30px;
  margin-top: -72px;
  color: #fff;
  position: relative;
  backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 30px 25px;
  padding-top: 50px;
  margin-left: 547px;
  z-index: 3;
  transition: 3s ease;
  clip-path: url(#customCliip);
}

.catalog-note:hover {
  transform: scale(1.1);
}

.catalog-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 150px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -30px;
  right: 0;
  width: 50%;
  z-index: 2;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  margin-top: 80px;
}

.shadowww {
  position: absolute;
  box-shadow: none;
  bottom: -8rem;
  right: 10%;
}

.filter-categories {
  background-color: transparent;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  height: 600px;
}

.category-card {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}
.category-card:hover img {
  transform: scale(1.1);
}

.category-card h3 {
  color: #04315b;
  font-size: 1.45rem;
  font-weight: 750;
  margin-bottom: 1rem;
  line-height: 1.2;
  z-index: 2;
  transform: scaleY(1.3);
  max-width: 140px;
  font-family: "Bebas Neue Pro", sans-serif;
}

.category-card img {
  position: absolute;
  object-fit: contain;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}

.fuel {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  max-height: 280px;
}

.fuel img {
  right: -80px;
  bottom: -70px;
  width: 90%;
  transform: rotate(-15deg);
}

.fuel:hover img {
  transform: scale(1.1) rotate(-15deg);
}

.air {
  grid-column: 3 / 5;
  grid-row: 1 / 4;
  max-height: 530px;
  /* min-width: 260px; */
}

.air img {
  right: -40%;
  bottom: -8%;
  width: 170%;
  transform: rotate(-80deg);
}

.air:hover img {
  transform: scale(1.1) rotate(-80deg);
}

.hydraulic {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  min-width: 270px;
}

.hydraulic img {
  right: -6px;
  bottom: -63px;
  width: 100%;
}

.oil {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
  max-height: 230px;
}

.oil img {
  left: -63px;
  bottom: -65px;
  width: 130%;
}

.cabin {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  max-height: 230px;
}

.cabin img {
  right: 40px;
  bottom: -60px;
  width: 95%;
}

.catalog {
  grid-column: 5 / 7;
  grid-row: 2 / 4;
  background-color: #04315b;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 230px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 85% 100%, 0 100%);
}

.btn-catalog {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    height: auto;
  }

  .category-card {
    grid-column: auto !important;
    grid-row: auto !important;
    height: 200px;
  }

  .air {
    grid-column: 1 / 3 !important;
  }

  .catalog {
    grid-column: 1 / 3 !important;
  }
}

.why-us {
  padding: 60px 0 0 0;
  background: transparent;
  position: relative;
  margin-top: -6rem;
}

.benefit-item {
  background: #f4f4f4;
  padding: 13px;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease;
}

.section-titlee {
  color: #04315b;
  font-size: 70px;
  text-align: center;
  line-height: normal;
  font-weight: bold;
  transform: scaleY(1.3);
  margin-top: 50px;
  font-family: "Bebas Neue Pro", sans-serif;
}

.benefits-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
}

.benefits-image img {
  max-width: 110%;
  height: auto;
  margin-left: -80px;
}

.benefits-image {
  position: relative;
}

.shadowwww {
  position: absolute;
  box-shadow: none;
  bottom: 4%;
  left: 7%;
}

.benefit-item {
  margin-bottom: 15px;
  margin-left: -80px;
  padding: 1.5rem;
}

.benefit-item h3 {
  color: #04315b;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: left;
  transform: scaleY(1.2);
  font-family: "Bebas Neue Pro", sans-serif;
}

.benefit-item p {
  font-size: 16px;
  line-height: 1.2;
  color: #04315b;
  text-align: left;
  font-family: "Clash Display Variables", sans-serif;
}
@media (min-width: 1400px) {
  .hero-text {
    font-size: 18px;
  }
}
@media (max-width: 1400px) {
  .hero-text {
    font-size: 17px;
  }

}
@media (max-width: 1200px) {
  .hero-title {
    line-height: 1.1;
  }
  .section-titlee {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 0;
  }
  .benefits-image img {
    max-width: 110%;
    margin: 0 auto;
  }
  .benefit-item {
    max-width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
  .fuel img {
    max-width: 100%;
    bottom: -2.5rem;
    right: -3.5rem;
  }
  .hydraulic img {
    max-width: 90%;
    right: 0rem;
    bottom: -3rem;
  }
  .oil img {
    max-width: 130%;
    left: 0rem;
    bottom: -1.8rem;
  }
  .cabin img {
    max-width: 100%;
    left: 1rem;
    bottom: -1rem;
  }

  .air img {
    max-width: 180%;
    left: -4rem;
    bottom: -1.5rem;
  }
  .fuel h3,
  .hydraulic h3,
  .oil h3,
  .cabin h3,
  .air h3 {
    font-size: 19px;
    max-width: none;
    font-weight: 750;
    margin-left: -1rem;
  }
  .hero {
    width: 100%;
    position: relative;
  }
  .hero-title,
  .smalltext {
    font-size: 70px;
    text-align: left;
    letter-spacing: 0px;
    width: 100%;
    min-width: 100%;
  }
  .hero-text {
    font-size: 18px;
    text-align: left;
    margin-top: 2rem;
    width: 60%;
  }
  .hero-image {
    width: 60%;
    margin-top: 8rem;
    margin-right: -5rem;
    padding: 0;
  }
  .catalog-note {
    margin-left: 32rem;
    margin-top: 5rem;
    width: 40%;
    max-width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 2.8rem;
  }
  .catalog-note p {
    font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 300;
    min-width: 200px;
  }
  .catalog-link {
    font-size: 18px;
    margin-top: -0.5rem;
    margin-left: 11rem;
  }
}
@media (max-width: 992px) {
  .section-titlee {
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .filter-categoriess {
    width: 100%;
    padding: 0 !important;
  }
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  .fuel {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    max-height: 189.33px;
  }
  .air {
    grid-column: 1 / 2 !important;
    grid-row: 2 / 3 !important;
    min-height: 189.33px;
  }
  .hydraulic {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
  }
  .oil {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    max-height: 189.33px;
  }
  .cabin {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
  }
  .catalog {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }
  .fuel img {
    max-width: 85%;
    bottom: -2.5rem;
    right: -3.5rem;
  }
  .hydraulic img {
    max-width: 70%;
    right: 0rem;
    bottom: -4rem;
  }
  .oil img {
    max-width: 100%;
    left: 5rem;
    bottom: -3.5rem;
    transform: rotate(15deg);
  }
  .oil:hover img {
    transform: scale(1.1) rotate(15deg);
  }
  .cabin img {
    max-width: 80%;
    left: 3.5rem;
    bottom: -5.5rem;
  }

  .air img {
    max-width: 100%;
    left: 2rem;
    bottom: -10rem;
    transform: rotate(-50deg);
  }
  .air:hover img {
    transform: scale(1.1) rotate(-50deg);
  }
  .hero {
    width: 100%;
    position: relative;
  }

  .hero-title,
  .smalltext {
    font-size: 50px;
    text-align: left;
    letter-spacing: 0px;
    width: 100%;
    min-width: 100%;
  }
  .hero-text {
    font-size: 15px;
    text-align: left;
    margin-top: 2rem;
    width: 65%;
  }
  .hero-image {
    width: 55%;
    margin-top: 6rem;
    margin-right: -5rem;
    padding: 0;
  }
  .catalog-note {
    margin-left: 26rem;
    margin-top: -1rem;
    width: 40%;
    max-width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
  }
  .catalog-note p {
    font-size: 16px;
    text-align: left;
    color: white;
    font-weight: 300;
    min-width: 200px;
  }

  .catalog-link {
    font-size: 18px;
    margin-top: -0.5rem;
    margin-left: 7rem;
  }
  .why-us {
    margin-top: 1rem;
  }
  .benefits-image {
    margin-top: -17rem;
  }
  .item-2 {
    margin-left: -22rem;
    height: 246.75px;
  }
  .item-3 {
    margin-top: -16.4rem;
  }
}

@media (max-width: 768px) {
  .hero .container {
    grid-template-columns: 1fr;
    text-align: center;
    position: relative;
  }

  .categories-grid {
    grid-template-columns: 1fr 1fr;
  }

  .benefits-container {
    grid-template-columns: 1fr;
  }

  .hero-title {
    font-size: 36px;
    min-width: 100%;
    width: 100%;
  }

  .benefit-item h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .home-page {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .filter-categories {
    width: 100%;
  }
  .hero {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .hero-title,
  .smalltext,
  .text-accent {
    font-size: 35px;
    text-align: left;
    letter-spacing: 0px;
    width: 100%;
    min-width: 100%;
  }
  .hero-text {
    font-size: 15px;
    text-align: left;
    margin-top: 2rem;
    width: 100%;
  }
  .hero-image {
    width: 100%;
    margin-top: 11rem;
    padding: 0;
  }
  .image-floating {
    animation: none;
  }
  .hero-image .shadowww {
    display: none;
  }
  .catalog-note {
    margin-left: 14rem;
    margin-top: 20rem;
    width: 100%;
    max-width: 50%;
    padding: 1.5rem;
    padding-bottom: 2rem;
    clip-path: url(#customCliipp);
  }
  .catalog-note p {
    font-size: 14px;
    text-align: left;
    color: white;
    font-weight: 300;
    margin-top: -0.5rem;
    min-width: 200px;
  }
  .catalog-link {
    margin-top: -0.5rem;
    margin-left: 9.7rem;
  }
  .filter-categoriess {
    width: 100%;
    padding: 0 !important;
    margin: 0 auto;
  }
  .air {
    width: 100%;
    height: 360px;
  }
  .fuel,
  .oil,
  .cabin,
  .catalog {
    width: 100%;
    height: 190px;
  }
  .hydraulic {
    width: 100%;
    height: 190px;
  }

  .fuel h3,
  .hydraulic h3,
  .oil h3,
  .cabin h3,
  .air h3 {
    font-size: 18px;
    max-width: none;
    font-weight: 750;
    margin-top: -0.4rem;
    margin-left: -0.4rem;
  }
  .fuel img {
    width: 50%;
    bottom: -3.5rem;
    right: -3.5rem;
  }
  .hydraulic img {
    width: 45%;
    right: 0rem;
    bottom: -4.5rem;
  }
  .oil img {
    width: 55%;
    left: 22rem;
    bottom: -3.7rem;
  }
  .cabin img {
    width: 45%;
    left: 22rem;
    bottom: -5rem;
  }
  .air img {
    max-width: 70%;
    left: 14.5rem;
    bottom: -8rem;
    transform: rotate(-62deg) !important;
  }
  .air:hover img {
    transform: scale(1.1) rotate(-62deg);
  }
  .categories-grid {
    display: flex !important;
    flex-direction: column;
    margin-top: -5rem;
  }
  .why-us {
    width: 100%;
  }
  .section-titlee {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 1rem;
    width: 100%;
    text-align: left;
  }
  .benefits-image img {
    width: 100%;
    margin: 0 auto;
    margin-top: 14rem;
  }
  .benefits-list {
    margin-top: -7rem;
  }
  .benefit-item {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-top: 1.2rem;
  }
  .item-2 {
    height: 100%;
  }
  .benefit-item h3,
  .benefit-item .text-accent {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 750;
    text-align: left;
    transform: scaleY(1.2);
    max-width: 300px;
  }

  .benefit-item p {
    font-size: 13px;
    line-height: 1.2;
    color: #04315b;
    text-align: left;
    letter-spacing: 0px;
    padding-bottom: 0;
  }
}
@media (max-width: 560px){
  .catalog-note {
    margin-left: 12rem;
    margin-top: 13.5rem;
    width: 100%;
    max-width: 50%;
    padding: 2rem;
    padding-bottom: 1rem;
    clip-path: url(#customCliipp);
  }
  .catalog-note p {
    font-size: 12px;
    text-align: left;
    color: white;
    font-weight: 300;
    margin-top: -0.5rem;
    min-width: 200px;
  }
  .catalog-link {
    margin-top: -0.5rem;
  }
  .fuel img {
    width: 65%;
    bottom: -3.5rem;
    right: -3.5rem;
  }
  .hydraulic img {
    width: 50%;
    right: 1rem;
    bottom: -4rem;
  }
  .oil img {
    width: 65%;
    left: 16rem;
    bottom: -3.7rem;
  }
  .cabin img {
    width: 55%;
    left: 14rem;
    bottom: -5rem;
  }
  .air img {
    max-width: 80%;
    left: 10.5rem;
    bottom: -7rem;
    transform: rotate(-75deg) !important;
  }
  .air:hover img {
    transform: scale(1.1) rotate(-75deg);
  }
}
@media (max-width: 480px) {
  .home-page {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
  }
  .filter-categories {
    width: 100%;
  }
  .hero {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .hero-title,
  .text-accent,
  .smalltext {
    width: 100%;
    font-size: 27px;
    margin-left: -1.2rem;
  }
  .hero-title span {
    margin-left: 0;
  }
  .hero-text {
    margin-left: -1.1rem;
    font-size: 14px;
    min-width: 300px;
  }
  .hero-image {
    width: 100%;
    margin-top: 12.3rem;
    padding: 0;
    margin-right: 0;
  }
  .image-floating {
    animation: none;
  }
  .hero-image .shadowww {
    display: none;
  }
  .catalog-note {
    margin: 0 auto;
    margin-top: 11rem;
    width: 70%;
    max-width: 100%;
    padding: 2rem;
    padding-bottom: 1rem;
    clip-path: url(#customCliipp);
  }
  .catalog-note p {
    font-size: 12px;
    text-align: left;
    color: white;
    font-weight: 300;
    margin-top: -0.5rem;
    min-width: 200px;
    margin-left: -0.8rem;
  }
  .catalog-link {
    margin-top: -0.5rem;
    font-size: 14px;
    margin-left: 5rem;
  }
  .filter-categoriess {
    width: 100%;
    padding: 0 !important;
  }
  .air {
    width: 100%;
    height: 360px;
  }
  .fuel,
  .oil,
  .cabin,
  .catalog {
    width: 100%;
    height: 190px;
  }

  .hydraulic {
    width: 100%;
    height: 190px;
  }

  .fuel h3,
  .hydraulic h3,
  .oil h3,
  .cabin h3,
  .air h3 {
    font-size: 18px;
    max-width: none;
    font-weight: 750;
    margin-top: -0.4rem;
    margin-left: -0.4rem;
  }
  .fuel img {
    width: 70%;
    bottom: -2.5rem;
    right: -2.5rem;
  }
  .hydraulic img {
    width: 60%;
    right: 0rem;
    bottom: -4rem;
  }
  .oil img {
    width: 80%;
    left: 8.4rem;
    bottom: -3rem;
  }
  .cabin img {
    width: 60%;
    left: 9.3rem;
    bottom: -3.5rem;
  }
  .air img {
    width: 90%;
    left: 4rem;
    bottom: -5rem;
    transform: rotate(-63deg);
  }
  .air:hover img {
    transform: scale(1.1) rotate(-63deg);
  }
  .categories-grid {
    display: flex !important;
    flex-direction: column;
    margin-top: -1rem;
  }
  .benefit-item .text-accent {
    margin-left: 0;
  }
  .why-us .container {
    padding: 0;
  }
  .shadowwww {
    width: 90% !important;
    max-width: 90% !important;
    margin-left: -1rem !important;
  }
  .benefits-image img {
    max-width: 100%;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-floating {
  animation: floating 10s ease-in-out infinite;
  z-index: 0;
}

.image-floatingg {
  animation: floating 7s ease-in-out infinite;
  z-index: 0;
}
