.oformit-page {
  max-width: 900px;
  margin-left: 50px;
  padding: 2rem;
}

.oformit-title {
  font-size: 40px;
  color: #04315b;
  margin-bottom: 2rem;
  font-weight: bold;
  transform: scaleY(1.7);
}

.oformit-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background: #04315b;
  border-radius: 12px;
  padding: 55px;
  color: white;
  margin-bottom: 2rem;
  clip-path: polygon(60px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 60px);
}
.oformit-info,
.oformit-form {
  flex: 1px;
  display: flex;
  flex-direction: column;
  max-width: 750px;
  padding: 0;
}

.oformit-info h2,
.oformit-form h2 {
  font-size: 18px;
  font-weight: 700;
  transform: scaleY(1.1);
  padding: 0;
}

.info-text {
  font-size: 15px;
  font-weight: 00;
}

.info-items,
.social-networks {
  margin-bottom: 2rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-item .content {
  line-height: 0.8;
}

.info-item .content h4 {
  font-size: 18px;
}

.info-item .content p {
  font-size: 16px;
  font-weight: 200;
  font-family: none;
}

.icon {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.social-icons {
  display: flex;
  gap: 1rem;
}

.oformit-form h2 {
  margin-bottom: 40px;
  font-size: 15px;
  letter-spacing: 1.1px;
  font-weight: 500;
}

.oformit-form input,
.oformit-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: rgba(245, 244, 244, 0.1);
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

.oformit-form input::placeholder,
.oformit-form textarea::placeholder {
  color: white;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.oformit-card {
  background: rgba(320, 320, 320, 0.06);
  padding: 15px;
  border-radius: 8px;
  position: relative;
  padding-bottom: 60px;
}

.submit-btnnn {
  background: #b4232b;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  position: absolute;
  bottom: 15px;
  right: 26px;
  margin-bottom: 5px;
  clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  letter-spacing: 1.3px;
  font-weight: 550;
}

.submit-btnnn:hover {
  background: #d2000c;
}

.oformit-tovar {
  background: rgba(161, 161, 161, 0.137);
  border-color: white;
  border-radius: 8px;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oformit-carddd {
  border-radius: 10px;
  color: #04315b;
  align-items: center;
  min-width: 800px;
  max-height: 40px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  background-color: #04315b;
  padding: 10px;
  color: white;
}

.product-header {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}
