.oformit-page {
  max-width: 900px;
  margin-left: 50px;
  padding: 2rem;
  font-family: "Clash Display Variables", sans-serif;
}

.oformit-title {
  font-size: 40px;
  color: #04315b;
  margin-bottom: 4rem;
  margin-top: -1rem;
  font-weight: bold;
  transform: scaleY(1.7);
}

.oformit-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background: #04315b;
  border-radius: 20px;
  padding: 55px;
  color: white;
  margin-bottom: 2rem;
  clip-path: url(#customCliip);
  justify-content: center;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
}

.oformit-info,
.oformit-form {
  flex: 1px;
  display: flex;
  flex-direction: column;
  max-width: 750px;
  padding: 0;
}

.oformit-info h2,
.oformit-form h2 {
  font-size: 18px;
  font-weight: 700;
  transform: scaleY(1.1);
  padding: 0;
}

.info-text {
  font-size: 15px;
  font-weight: 00;
}

.info-items,
.social-networks {
  margin-bottom: 2rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-item .content {
  line-height: 0.8;
}

.info-item .content h4 {
  font-size: 18px;
}

.info-item .content p {
  font-size: 16px;
  font-weight: 200;
}

.icon {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.social-icons {
  display: flex;
  gap: 1rem;
}

.oformit-form h2 {
  margin-bottom: 40px;
  font-size: 15px;
  letter-spacing: 1.1px;
  font-weight: 500;
}

.oformit-form input,
.oformit-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background: rgba(245, 244, 244, 0.1);
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

.oformit-form input::placeholder,
.oformit-form textarea::placeholder {
  color: white;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.oformit-card {
  background: rgba(320, 320, 320, 0.06);
  padding: 15px;
  border-radius: 8px;
  position: relative;
  padding-bottom: 80px;
}
.form-group textarea::placeholder {
  font-family: "Clash Display Variables", sans-serif;

}

.submit-btnnn {
  background: #b4232b;
  color: white;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  position: absolute;
  bottom: 15px;
  right: 16px;
  margin-bottom: 10px;
  clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  letter-spacing: 1.3px;
  font-weight: 550;
}

.submit-btnnn:hover {
  background: #d2000c;
}

.oformit-tovar {
  background: rgba(161, 161, 161, 0.137);
  border-color: white;
  border-radius: 8px;
  font-weight: 100;
  font-size: 15px;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 10px;
}
.oformit-tovar p {
  margin: 0;
  display: flex;
  align-items: center;
}
.oformit-tovar img {
  display: block;
  object-fit: contain;
  border-radius: 10px !important;
}


.oformit-carddd {
  border-radius: 5px;
  color: #04315b;
  align-items: center;
  max-width: 655px;
  max-height: 28px;
  background: rgba(161, 161, 161, 0.137);
  margin-top: 10px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  background-color: #04315b;
  padding: 10px;
  color: white;
}

.product-header {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 768px){
  .oformit-carddd {
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .oformit-page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .oformit-container {
    width: 90%;
    border-radius: 20px;
    clip-path: url(#custooomClip);
    padding: 0;
    margin: 0 auto;
  }
  .oformit-card {
    background: transparent;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .oformit-carddd {
    display: none !important;
  }
  .oformit-form {
    width: 100%;
    max-width: 100%;
  }
  .oformit-title {
    width: 80%;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.5rem;
  }
  .oformit-form input::placeholder,
  .oformit-form textarea::placeholder {
    font-size: 13px;
  }
  .oformit-card .mb-5 {
    margin-bottom: 1.5rem !important;
  }
  .oformit-tovar {
    display: none !important;
  }
  .mobile-oformit-tovar {
    background: rgba(161, 161, 161, 0.137);
    border-color: white;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    height: 134px;
  }
  
  .oformit-infoo {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    margin-left: 1rem;
    gap: 0px;
  }
  .submit-btnnn {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1380px) {
  .mobile-oformit-tovar {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .oformit-carddd .naim {
    margin-left: 0rem !important;
  }
  .oformit-carddd .vid {
    margin-left: 8rem !important;
  }
  .oformit-carddd .proiz {
    margin-left: 4rem !important;
  }
  .oformit-carddd .kolic {
    margin-left: 1rem !important;
  }
  .oformit-carddd {
    font-size: 13px !important;
  }
  .oformit-name {
    margin-left: -40px !important;
  }
  .oformit-tovar {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
}