@import "@fontsource/clash-display/variable.css";
@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Variable.woff") format("woff");
  font-weight: 200 700;
  font-style: normal;
}

.product-detail-container {
  background-color: transparent;
  padding: 2rem;
  margin-left: -3.3rem;
}

.product-title,
.description-title,
.specs-title,
.info-title {
  color: hsl(209, 92%, 19%);
  font-weight: bold;
}

.product-title {
  font-size: 24px;
  transform: scaleY(1.3);
}
.product-firm {
  color: #04315b;
  font-size: 34px;
}

.description-title,
.specs-title,
.info-title {
  font-size: 1.25rem;
}

.info-title {
  transform: scaleY(1.2);
}

.article-number,
.product-type {
  background-color: #fbfbfb;
  padding: 5px;
  border-radius: 0.5rem;
  padding-left: 10px;
  color: #04315b;
  font-size: 14px;
}

.text-label {
  color: #5f7a93;
}

.purchase-section {
  position: relative;
  background-color: #04315b;
  background-image: url("/icons/footer2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

.purchase-section * {
  position: relative;
  z-index: 1;
}

.specs-title {
  font-size: 17px;
  font-weight: 700;
  transform: scaleY(1.5);
}

.spec-item {
  background-color: #fbfbfb;
  margin-bottom: 0.5rem;
  border-radius: 0.45rem;
  font-size: 15px;
  color: #04315b;
}

.delivery-item,
.payment-item {
  display: flex;
  align-items: start;
  margin-bottom: 1rem;
}

.btn-primary {
  background: rgba(161, 161, 161, 0.137);
  border-color: white;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.9px;
  position: relative;
}

.btn-primary:hover {
  background-color: rgba(161, 161, 161, 0.438);
  border-color: white;
}

.dobavits-border-button {
  background: #04315b;
  border-top: 1px solid white;
  position: absolute;
  top: -27px;
  left: -19px;
  width: 33px;
  z-index: 10;
  height: 40px;
  transform: rotate(135deg);
  font-size: 16px;
}

.custom-list {
  list-style: none;
  padding: 0;
  min-width: 480px;
}

.custom-list li {
  position: relative;
  padding-left: 20px;
  font-family: "Clash Display", sans-serif;

  font-size: 15px;
  color: #04315b;
  line-height: 1.4;
}

.custom-list li::before {
  content: "▪";
  position: absolute;
  left: 0;
  top: -15px;
  font-size: 35px;
  color: #04315b;
  border-radius: 9px;
}

.podrobno {
  background: transparent;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 19px);
  padding: 5px 0 5px 40px;
  padding-left: 55px;
  color: #04315b;
  border: 1px solid #04315b;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  position: relative;
}

.podrobno:hover {
  background-color: rgba(0, 43, 91, 0.05);
}

.podrobno-border-button {
  background: #e8e8e8;
  border-top: 1px solid #04315b;
  position: absolute;
  top: -27px;
  left: -18px;
  width: 32px;
  z-index: 10;
  height: 40px;
  transform: rotate(137deg);
  font-size: 16px;
}

.quantity-control {
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 110px;
  height: 27px;
  margin-left: 2rem;
  justify-content: space-between;
}

.quantity-control button {
  border: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.quantity-control span {
  text-align: center;
  font-size: 14px;
  color: white;
  width: 25px;
}
@media (max-width: 768px) {
  .product-detail-container {
    width: 100%;
    margin: 0 auto;
  }
  .glavni {
    width: 100%;
    min-width: 100% !important;
  }
  .product-main {
    width: 100%;
  }
  .row {
    padding: 0;
  }
  .product-image-container {
    width: 100%;
  }
  .img-fluid{
    width: 100%;
    max-width: 100%;
  }
  .cardd-detail {
    width: 100%;
    max-width: 100% !important;
    margin: 0 auto;
  }
  .card-body {
    width: 100%;
    margin: 0 auto;
  }
  .col-md-6 {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .product_info {
    width: 100%;
    margin: 0 auto !important;
    margin-bottom: 8.5rem !important;
    min-width: 100% !important;
  }
  .technic-info {
    width: 116.5%;
    margin-left: -1.5rem;
    margin-top: 10rem;
  }
  .technic-detaill {
    width: 100%;
    margin: 0 auto;
  }
  .spec-item {
    width: 100%;
    margin: 0 auto;
  }
  .delivery-payment-info {
    width: 100%;
  }
  .delivery-detail {
    width: 100%;
    margin: 0 auto !important;
    margin-left: -0.5rem !important;
  }
  .payment-detail {
    width: 100%;
    margin: 0 auto !important;
    margin-left: -4.5rem !important;
  }
  .delivery-payment-detaill {
    width: 100%;
  }
  .delivery-detail .delivery-payment-detaill .custom-list span{
    width: 60%;
    max-width: 60% !important;
  }
  .payment-detail .delivery-payment-detaill .custom-list span{
    width: 90%;
    max-width: 90% !important;
  }
  .podrobno {
    width: 120%;
    margin-left: -0.4rem;
  }
  .purchase-section {
    min-width: 108% !important;
    max-height: 270px !important;
    margin-left: -22rem;
    margin-top: 40rem;
  }
  .purchase-section span{
    font-size: 17px !important;
    margin-top: -0.5rem;
  }
  .purchase-section .pt-4{
    margin-top: -1.7rem;
  }
  .purchase-section .kolichestvo{
    font-size: 14px !important;
  }
  .quantity-control {
    margin: 0 auto;
  }
  .quantityy {
    margin-top: 2px !important;
  }
}