.product_card {
  background: #f4f4f4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #04315b;
  align-items: center;
  padding-bottom: -20px;
}

.products-title,
.nayden {
  color: #04315b;
}

.product_card img {
  border: none;
}

.parent-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.adding_button {
  border: #04315b solid, 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.adding_button button {
  border: none;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 0 10px;
  font-size: 30px;
  color: #04315b;
}

.dobavit button {
  position: relative;
  padding: 12px 24px;
  font-size: 16px;
  color: #04315b;
  background: #f4f4f4;
  text-decoration: none;
  font-weight: regular;
  clip-path: polygon(35px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 20px);
  border: 1px solid #04315b;
  border-radius: 5px;
}

.dobavit button:hover {
  background: rgba(164, 170, 255, 0.308);
}

.dobavit-border-button {
  background: #f4f4f4;
  border-top: 1px solid #04315b;
  color: #04315b;
  position: absolute;
  top: -30px;
  left: -14px;
  width: 51px;
  z-index: 10;
  height: 40px;
  transform: rotate(151deg);
  font-size: 16px;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #04315b;
  border: #04315b 1px solid;
  margin-left: -1px;
}

.pagination .btn-outline {
  background: #f4f4f4;
  border: 1px solid #04315b;
  color: #04315b;
}

.pagination .btn-outline:hover {
  background: rgba(164, 170, 255, 0.308);
}

@media (max-width: 480px) {
  .space {
    display: none;
  }
  .product_card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mobile-space {
    width: 100%;
  }
  .first-row, .second-row {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: 0rem;
  }
  .first-row {
    margin-left: -2.8rem;
  }
  .second-row {
    align-items: center;
    margin-top: -1.5rem;
  }
  .dobavit button{
    width: 100%;
  }
  .product-imagee-back {
    width: 100%;
    background-color: #fff;
  }
  .product-imagee {
    width: 100%;
    margin: 1rem auto;
    margin-left: 7.5rem;
  }
  .moneyy {
    font-size: 14;
  }
}

@media screen and (min-width: 768px){
  .mobile-space {
    display: none;
  }
}