footer {
  background-color: transparent;
}
.footer {
  background: white;
  color: white;
  padding: 40px 20px;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: -1rem;
  padding-left: 2rem;
}
.footer-nav {
  background: #04315b;
  color: white;
  margin: 20px 20px;
  padding: 20px;
  border-radius: 16px;
  clip-path: url(#customClip);
}
.foot_left {
  margin-top: 20px;
}
.foot_left p {
  margin-bottom: 30px;
}
.foot_center {
  margin-top: 120px;
}
.foot_right {
  margin-top: 175px;
}
.footer-logo {
  max-width: 150px;
  margin-bottom: -20px;
}
.footer-links {
  list-style: none;
  padding: 0;
  margin-left: 3rem;
  font-family: "Clash Display Variables", sans-serif;
}
.footer-links li {
  margin-bottom: 30px;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-family: "Clash Display Variables", sans-serif;
}
.privacy-policy {
  display: block;
  margin-bottom: 30px;
  color: white;
  text-decoration: none;
  font-family: "Clash Display Variables", sans-serif;
}
.social-links {
  margin-top: 30px;
  font-family: "Clash Display Variables", sans-serif;
}
.social-icons {
  display: inline-block;
  margin-right: 8px;
}
@media (min-width: 768px) {
  .carusel-section {
    display: none;
  }
}
@media (max-width: 768px) {
  .partners-section {
    display: none;
  }
  .footer-nav {
    margin: 0 auto;
    padding: 20px 10px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
  }
  .footer-nav {
    margin: 0 auto;
  }
  .footer-content {
    margin: 0 auto;
    width: 100%;
  }
  .row {
    align-items: center;
  }
  .foot_left,
  .foot_center,
  .foot_right {
    margin-top: 0;
  }
  .footer-logo {
    max-width: 120px;
    margin-bottom: -1rem;
  }
  .footer-links {
    margin-left: 0;
    padding: 0;
  }
  .footer-links li {
    margin-bottom: 15px;
  }
  .privacy-policy {
    margin-bottom: 20px;
  }
  .social-links {
    margin-top: 20px;
  }
  .foot_left p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .foot_center {
    margin-top: 0;
  }
  .foot_right {
    margin-top: 0;
  }
}
