.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  font-family: "Bebas Neue", sans-serif;
}

.about-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  margin-top: -2rem;
}

.about-company {
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 4rem;
  padding: 2rem;
  width: 1200px;
}

.about-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4rem;
  color: #04315b;
  font-weight: bold;
  z-index: 3;
  margin: 2rem;
  transform: scaleY(1.5);
  margin-left: -1.5rem;
  font-family: "Bebas Neue Pro", sans-serif;
}

.about-content {
  flex: 1;
  padding: 5rem 3rem 3rem 3rem;
  z-index: 2;
}

.about-description {
  background: rgba(102, 101, 101, 0.3);
  width: 810px;
  height: 200px;
  border-radius: 16px;
  margin-top: 3rem;
  color: #fff;
  position: relative;
  backdrop-filter: blur(18px);
  padding: 20px 0 0 20px;
  margin-bottom: 0;
  margin-left: -6rem;
  clip-path: url(#customCclip);
}

.about-description p {
  line-height: 1.2;
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
  margin-left: 15px;
  font-family: "Clash Display", sans-serif;
}



.contact-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  /* display: inline-flex; */
  align-items: center;
  margin-left: 36rem;
  bottom: 10rem;
  letter-spacing: 1.2px;
}

.engine-image {
  position: absolute;
  right: 0px;
  bottom: -130px;
  z-index: 1;
}

.engine-image img {
  max-width: 520px;
  height: auto;
}

.shadoww {
  position: absolute;
  box-shadow: none;
  bottom: 3rem;
}


.offers-section {
  padding: 40px 100px;
  background-color: transparent;
}

.offers-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.filter-cards-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.about-cards {
  background: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.about-cards:hover {
  transform: translateY(-5px);
}

.main-card {
  background-color: #04315b;
  padding: 20px;
  color: white;
  position: relative;
  clip-path: url(#customClippp);
  border-radius: 13px;
}

.main-card h1 {
  font-size: 120px;
  position: absolute;
  right: 15px;
  top: 0;
}

.main-card h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1px;
  margin: 0;
  position: absolute;
  left: 15px;
  bottom: 20px;
  padding: 0 0px 0 0;
  max-width: 350px;
  transform: scaleY(1.3);
}

.numbered-card {
  position: relative;
  padding-top: 80px;
  width: 300px;
  height: 250px;
}

.number {
  font-size: 50px;
  color: #04315b;
  font-weight: 500;
  position: absolute;
  left: 15px;
  top: 20px;
}

.numbered-card h3 {
  color: #04315b;
  font-size: 16px;
  margin: 0 0 15px 0;
  font-weight: 700;
  transform: scaleY(1.3);
  padding-bottom: 18px;
}

.numbered-card p {
  color: #04315b;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  position: absolute;
  left: 15px;
  bottom: 25px;
  transform: scaleY(1.1);
}

.red-card {
  background-color: #b4232b;
  padding: 4rem;
  position: relative;
  clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 50px, 100% 100%, 0 100%);
  border-radius: 12px;
}

.red-card h3 {
  font-size: 24px;
  color: #242c39;
  margin: 0 0 15px 0;
  font-weight: 700;
  position: absolute;
  left: 15px;
  top: 20px;
  transform: scaleY(1.3);
  padding-top: 10px;
}

.red-card p {
  font-size: 14px;
  color: #04315b;
  line-height: 1.5;
  margin: 0;
  position: absolute;
  left: 15px;
  bottom: 20px;
  transform: scaleY(1.1);
  padding-bottom: 8px;
}

.bottom-cards {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

@media (max-width: 480px) {
  .about-title {
    font-size: 24px;
    margin-left: -1rem;
  }
  .engine{
    width: 25%;
    right: 35rem;
    max-width: none;
    margin-top: -10rem;
  }
  .engine-image img{
    max-width: none;
  }
  .about-description {
    width: 26%;
    height: 200%;
  }
  .about-description p {
    font-size: 13px;
    margin-left: 0rem;
    margin-top: 0.2rem;
  }
}